
:root{
    --primary-color: #573C0C;
    --secondary-color: #FFE51F;
    --bg-color: #FEEFC6;
    --btn-primary-color: #FFE51F;
    --btn-secondary-color: FEEFC6;
}

body, header, .card, nav {
    background-color: var(--bg-color) !important;
}

.btn-primary{
    background-color: var(--secondary-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
}

.btn-secondary{
    background-color: var(--btn-secondary-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
}

.btn:hover{
    box-shadow: 0 0 7px 0 var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.form-control:focus {
  box-shadow: 0 0 7px 0 var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
