:root {
  --primary-color: #573c0c;
  --secondary-color: #ffe51f;
  --bg-color: #feefc6 !important;
  --btn-primary-color: #ffe51f;
  --btn-secondary-color: #feefc6;
}

body,
header,
.card,
nav {
  background-color: var(--bg-color) !important;
}

ul {
  list-style-type: none;
  padding: 0;
}

.btn-primary {
  background-color: var(--secondary-color) !important;
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
}

.btn-secondary {
  background-color: var(--btn-secondary-color) !important;
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
}

.btn:hover {
  box-shadow: 0 0 7px 0 var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.form-control {
  border-width: 2.3px;
}
.form-group label {
  width: 100%;
  height: 100%;
}

.form-control:focus {
  box-shadow: 0 0 7px 0 var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.active-indicator {
  display: flex !important;
  height: 2px !important;
  width: 50% !important; /* Modifica questa percentuale per restringere o allargare la barra */
  max-width: 300px !important; /* Limite massimo di larghezza */
}

.active-indicator-container {
  display: flex !important;
  justify-content: center !important;
}

.active-indicator .half-bar {
  flex: 1 !important;
}

.half-bar-left.active,
.half-bar-right.active {
  background-color: #000 !important;
}

.half-bar-left.inactive,
.half-bar-right.inactive {
  background-color: #9a9589 !important;
}

.heart-fill-red {
  fill: red !important;
}

.smaller-text {
  font-size: 0.8em; /* Puoi regolare questa dimensione secondo le tue esigenze */
}

.transparent-input {
  background-color: transparent !important;
  border: none !important; /* Rimuove il bordo della casella di input */
  box-shadow: none !important; /* Rimuove l'ombra */
  outline: none !important; /* Rimuove l'outline al focus */
}

.comment-container {
  max-height: 200px; /* Altezza massima del contenitore dei commenti */
  overflow-y: auto; /* Abilita lo scorrimento verticale */
}

.custom-link {
  color: black; /* Colore del testo nero */
  text-decoration: none; /* Rimuove la sottolineatura */
  font-weight: bold; /* Imposta il testo in grassetto */
}

/* Optional: Puoi aggiungere ulteriori stili per il comportamento al passaggio del mouse */
.custom-link:hover {
  color: black; /* Mantieni il colore nero al passaggio del mouse */
  text-decoration: none; /* Assicurati che la sottolineatura rimanga rimossa */
}

.narrow-card {
  max-width: 600px; /* Puoi regolare questa dimensione */
  margin: auto; /* Centra la card orizzontalmente */
}

.post-image-container {
  width: 400px !important; /* Imposta una larghezza fissa per il contenitore */
  height: 400px !important; /* Imposta un'altezza fissa per il contenitore */
  overflow: hidden !important;
  border: 2px solid #573c0c !important; /* Aggiunge un bordo nero di 2px */
  border-radius: 5px !important; /* Nasconde eventuali parti delle immagini che eccedono le dimensioni del contenitore */
  display: flex !important; /* Abilita il modello di layout flexbox */
  justify-content: center !important; /* Allinea l'elemento figlio (l'immagine) al centro lungo l'asse principale (orizzontale) */
  align-items: center !important;
}

.post-image-container-open {
  width: 600px !important; /* Imposta una larghezza fissa per il contenitore */
  height: 600px !important; /* Imposta un'altezza fissa per il contenitore */
  overflow: hidden !important;
  border: 2px solid #573c0c !important; /* Aggiunge un bordo nero di 2px */
  border-radius: 5px !important; /* Nasconde eventuali parti delle immagini che eccedono le dimensioni del contenitore */
  margin-left: 200px; /* Lascia lo spazio disponibile a sinistra */
  margin-right: auto; /* Lascia lo spazio disponibile a destra */
}

.post-image-container-open img {
  min-width: 600px; /* Imposta la larghezza minima */
  min-height: 250px; /* Imposta l'altezza minima */
  object-fit: cover; /* Mantiene le proporzioni dell'immagine coprendo l'intero contenitore */
  width: 100%; /* Imposta la larghezza al 100% del contenitore */
}

.comment-section {
  width: 35%; /* Imposta la larghezza al 100% del contenitore genitore */
  height: auto;
  margin-right: auto;
}

.post-image-container img {
  min-width: 400px; /* Imposta la larghezza minima */
  min-height: 250px; /* Imposta l'altezza minima */
  object-fit: cover; /* Mantiene le proporzioni dell'immagine coprendo l'intero contenitore */
  width: 100%; /* Imposta la larghezza al 100% del contenitore */
}

.post-image-container-profile {
  width: 300px !important; /* Imposta una larghezza fissa per il contenitore */
  height: 300px !important; /* Imposta un'altezza fissa per il contenitore */
  overflow: hidden !important;
  border: 2px solid #573c0c !important; /* Aggiunge un bordo nero di 2px */
  border-radius: 5px !important; /* Nasconde eventuali parti delle immagini che eccedono le dimensioni del contenitore */
  display: flex !important; /* Abilita il modello di layout flexbox */
  justify-content: center !important; /* Allinea l'elemento figlio (l'immagine) al centro lungo l'asse principale (orizzontale) */
  align-items: center !important;
}

.post-image-container-profile img {
  min-width: 250px; /* Imposta la larghezza minima */
  min-height: 250px; /* Imposta l'altezza minima */
  object-fit: cover; /* Mantiene le proporzioni dell'immagine coprendo l'intero contenitore */
  width: 100%; /* Imposta la larghezza al 100% del contenitore */
  height: 100%; /* Imposta l'altezza al 100% del contenitore */
}

.post-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribuisci lo spazio tra gli elementi */
  height: 100vh; /* Altezza del viewport */
}

.carousel-indicators .active {
  background-color: var(
    --primary-color
  ); /* Cambia questo colore al colore desiderato per l'indicatore attivo */
}

.carousel-indicators button {
  background-color: #007bff; /* Cambia questo colore al colore desiderato */
  border-color: #007bff; /* Cambia questo colore al colore desiderato */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(
    --primary-color
  ); /* Cambia questo colore al colore desiderato per le frecce */
}

.modal-header {
  color: var(
    --bg-color
  ); /* Cambia questo valore con il colore che preferisci */
  background-color: var(
    --primary-color
  ); /* Cambia il colore del testo se necessario */
}

/* Cambia il colore della X di chiusura della modal */
.btn-close {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(93deg)
    brightness(103%) contrast(103%);
  /* Questo stile cambia il colore predefinito della X. Puoi personalizzare i valori come preferisci */
}

.avatar {
  width: 40px !important;
  height: 40px !important;
}

.small-avatar {
  width: 20px !important;
  height: 20px !important;
}

/* Rimuove le freccette di incremento/decremento per input[type="number"] in Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Rimuove le freccette di incremento/decremento per input[type="number"] in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.custom-icon {
  fill: var(
    --bg-color
  ); /* Colore rosso, puoi cambiare con qualsiasi colore tu voglia */
}

.custom-margin-top {
  margin-top: 8rem; /* Aumenta questo valore per avere più spazio */
}

.description {
  padding: 20px; /* Aumenta questo valore per più spazio */
}

.avatar {
  width: 40px;
  height: 40px;
}

.smaller-text {
  font-size: 0.685rem;
}

.bi-three-dots {
  cursor: pointer;
}

/*  ---------------------  imported from old style.css  ---------------------  */

#submitId,
#submitSignup {
  background-color: var(--secondary-color) !important;
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
  border-radius: 20px !important;
}

/*
.btn-bd-primary:hover {
    filter: brightness(105%) !important;
} */

#signupId {
  background-color: var(--btn-secondary-color) !important;
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
  border-radius: 20px !important;
}

#loginCard,
#signupCard,
.article {
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 5px;
  padding-bottom: 5px;
  width: auto;
  max-width: 450px;
  border-radius: 50px !important;
}

.liked {
  fill: red !important;
}

.like {
  border: 0px !important;
}

/* Hide the mobile image by default */
.mobile-img {
  display: none;
}

/* Show the desktop image by default */
.desktop-img {
  display: block;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .card {
    width: fit-content !important; /* Set width to 100% for mobile */
    max-width: 400px !important;
    min-height: 200px !important;
    padding: 0px !important;
    margin: 0px !important;
    border: 0px !important;
  }

  .article {
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 1px solid #898989 !important;
    border-radius: 0px !important;
    padding-bottom: 100px !important;
    width: fit-content !important;
  }

  header > * svg {
    width: 27px !important;
    height: 27px !important;
  }

  /* Hide the desktop image */
  .desktop-img {
    display: none;
  }
  /* Show the mobile image */
  .mobile-img {
    display: block;
  }
}
