
:root{
    --primary-color: #573C0C;
    --secondary-color: #FFE51F;
    --bg-color: #fff8e7;
    --btn-primary-color: #FFE51F;
    --btn-secondary-color: #FEEFC6;
}

body, header, .card, nav {
    background-color: var(--bg-color) !important;
}

.card {
    width: 400px;
    max-width: 400px;
    border-radius: 50px !important;
}

.btn-bd-primary{
    background-color: var(--secondary-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
    border-radius: 20px !important;
}

.btn-bd-primary:hover{
    filter: brightness(105%) !important;
}

.btn-bd-secondary{
    background-color: var(--btn-secondary-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
    border-radius: 20px !important;
}

.btn:hover{
    box-shadow: 0 0 7px 0 var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.form-control::placeholder {
  transition: transform 0.4s;
  color: #ccc;
}

.form-control:focus::placeholder {
  transform: translateY(-10px) scale(0.75);
}

.form-control:focus {
  box-shadow: 0 0 7px 0 var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
