:root {
  --primary-color: #573c0c;
  --secondary-color: #ffe51f;
  --bg-color: #fff8e7;
  --btn-primary-color: #ffe51f;
  --btn-secondary-color: #fff8e7;
}

body,
header,
.card,
nav {
  background-color: var(--bg-color) !important;
}

.card {
  padding: 3% !important;
  width: 450px;
  max-width: 450px;
  border-radius: 50px !important;
}

.btn-bd-primary {
  background-color: var(--secondary-color) !important;
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
  border-radius: 20px !important;
}

.btn-bd-primary:hover {
  filter: brightness(105%) !important;
}

.btn-bd-secondary {
  background-color: var(--btn-secondary-color) !important;
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
  border-radius: 20px !important;
}

.btn:hover {
  box-shadow: 0 0 7px 0 var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.form-control:focus {
  box-shadow: 0 0 7px 0 var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

a {
  color: var(--primary-color) !important;
  text-decoration: none;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .card {
    width: fit-content; /* Set width to 100% for mobile */
    max-width: 450px !important;
    padding: 0px !important;
    margin: 0px !important;
    border: 0px !important;
  }
}
